/* TODO: Create appropriate CSS for the website */
header {
  width: 100%;
  justify-content: space-between;
}

html {
  display: inline-flex;
  flex-wrap: wrap;
}

#main {
  width: 100%;
  height: 300px;
}

.container {
  width: 100%;
}

.half{
  width: 50%;
}

.left {
}

.right {
  text-align: right;
}

.third {
  width: 33.33%;
}

.light-blue {
  color: #7d97ad
}

.tile {

}
